body {
  background-image: url("../image/Background.jpg");
  background-repeat: no-repeat; /*بدون اعادة للخلفية*/
  background-attachment: fixed; /*عشان تتمدد الصورة الى الاخير*/
  background-position: center; /*تحديد مكان الصورة*/
  background-size: cover; /*بدون زوم ,, او بشكل جيد */
  color: black;
}
.MainEducation {
  margin-top: 90px;
  margin-left: 15px;
  margin-right: 20px;
}
.MainEducation h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  text-align: center;
  color: rgb(0, 0, 170);
}
.MainEducation h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  color: rgb(0, 0, 170);
}
.MainEducation p,
ul {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
