/*almost all screens :( */
@media screen and (max-width: 600px) {
  .MainContent h1 {
    font-size: 30px;
  }
  .MainContent h2 {
    font-size: 15px;
  }
  .MainContent button {
    font-size: 10px;
  }
}

body {
  background: linear-gradient(rgb(43, 186, 243), gold, rgb(161, 248, 48));
  padding-bottom: 40vh;

}
.MainContent {
  margin-top: 100px;
}
.MainContent h1 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  font-size: 50px;
}
.MainContent h2 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 12px;
  font-size: 40px;
}
.MainContent button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 12px;
  margin-left: 20px;
  font-size: 18px;
  background-color: #aaff22;
  border-radius: 10px;
}
.MainContent button:hover {
  background-color: #fa8e00;
}
